# .ebextensions/loggly.config
packages:
  yum:
    rsyslog-gnutls: []
files:
  "/etc/rsyslog.d/01-udp.conf":
     mode: "000640"
     owner: root
     group: root
     content: |
       $ModLoad imudp
       $UDPServerRun 514
files:
  "/tmp/loggly_config.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      su --command="python /tmp/configure-syslog.py setup --auth $LOGGLY_AUTH --account $LOGGLY_ACCOUNT --yes"
container_commands:
  01_loggly_dl:
    command:
      wget -q -O /tmp/configure-syslog.py https://www.dropbox.com/s/uzsgiqlz4lyctql/configure-syslog.py?dl=0
  02_loggly_config:
    command: /tmp/loggly_config.sh
  03_restart_rsyslog:
    command: "/sbin/service rsyslog restart"

